<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>LILO.ZONE - Fábrica de Tecnologia Criativa</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="LILO">
    
<meta name="google-site-verification" content="rm49dDkG219f1_davMYwHg7DwrvckxUp4LRHe7AF7BQ" />
<meta name="author" content="">
<meta name="google-site-verification" content="rm49dDkG219f1_davMYwHg7DwrvckxUp4LRHe7AF7BQ" />

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<!-- CSS
  ================================================== -->
<link rel="shortcut icon" href="images/favicon.ico" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="vendor/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">
<link href="vendor/owl-carousel/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="vendor/owl-carousel/css/owl.theme.css" rel="stylesheet" type="text/css">

<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="css/extralayers.css" media="screen" />	
	<link rel="stylesheet" type="text/css" href="vendor/revslider/css/settings.css" media="screen" />

	<!-- GOOGLE FONTS FOR REVOLUTION SLIDER ONLY -->
    
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!-- Color Style -->
<link href="css/color4.css" rel="stylesheet" type="text/css">
<!-- SCRIPTS
  ================================================== -->
<script src="js/modernizr.js"></script><!-- Modernizr -->
</head>
<body class="header-style1">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
	<div class="site-header-wrapper">
        <header class="site-header">
            <div class="container sp-cont">
                <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
                <!-- Main Navigation -->
                <nav class="main-navigation dd-menu toggle-menu" role="navigation">
                    <ul class="sf-menu"> 
                        <li><a href="#Sobre">Sobre</a></li>
                        <li><a href="#Agenda">Agenda</a></li>
                        <li><a href="#Contatos">Contatos</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- End Site Header -->
    </div>
    <div class="hero-area">
        <img src="/images/header/lilo.gif">
    </div>

    <div id="Sobre">
        <div class="col-md-12 col-sm-12 center-vertical-position" style="height: 10em">
            <h1>Fábrica de Tecnologia Criativa</h1>
            
        </div>
        <div class="col-md-12 col-sm-12 center-vertical-position" style="height: 30em">
            <h2>O Lilo.Zone é um ateliê compartilhado de uso criativo de tecnologia. 

É uma casa localizada na Vila Madalena, em São Paulo, próximo ao metrô,  que abriga temas como eletrônica criativa, mapping e tecnologia audiovisual, educação maker, modelagem e parametria, biohacking, arquitetura de informação, internet das coisas, wearables, realidade virtual e interatividade.

Mais que uma casa, é uma grande oficina, uma fábrica de tecnologia de aproximadamente 300m2 que aloca 5 iniciativas empreendedoras.</h2>
            
        </div>
        
        <div class="text-align-center">
            <div class="col-md-3 col-sm-3 square-about-black">
                <h2>OFICINAS</h2>
                <p>Duram até 6h de pura emoção!</p>
            </div>
            <div class="col-md-3 col-sm-3 square-about-white">
                <h2>CURSOS</h2>
                <p>Duram até 6h de pura emoção!</p>
            </div>
            <div class="col-md-3 col-sm-3 square-about-black">
                <h2>CAFÉ TECNOLÓGICO</h2>
            </div>
            <div class="col-md-3 col-sm-3 square-about-white">
                <h2>OCUPAÇÃO</h2>
            </div>
        </div>
    
    </div>
    
    
    <!-- Notive Bar -->
    <div id="Agenda" class="notice-bar" style="clear: both">
      	<div class="container">
        	<ol class="breadcrumb">
              <li class="breadcrumb-button evento-ano-2017"><span class="filter-active">AGENDA</span></li>
              <li class="breadcrumb-button evento-mes-ago"><span>AGOSTO</span></li>
              <li class="breadcrumb-button evento-mes-set"><span>SETEMBRO</span></li>
              <li class="breadcrumb-button evento-mes-out"><span>OUTUBRO</span></li>
              <li class="breadcrumb-button evento-mes-nov"><span>NOVEMBRO</span></li>
            </ol>
        </div>
    </div>
    <!-- Start Body Content -->
  	<div class="main" role="main">
    	<div id="content" class="content full">
            <div class="container">
            	<div class="row">
                    <ul class="isotope-grid isotope events-grid grid-list" style="padding: 0" data-sort-id="grid">
                        {% for eventos in site.data.eventos %}
                        <li class="col-md-4 col-sm-4 grid-item format-standard evento-item evento-mes-{{eventos.mes}}">
                            <a href="{{eventos.ingresso}}" class="media-box grid-featured-img"><img src="images/{{eventos.imagem}}.jpg" alt=""></a>
                            <div class="grid-item-content">
                            	<div class="event-time">
									<span class="date">{{eventos.dia1}}</span>
									<span class="month">{{eventos.mes}}</span>
								</div>
                                <span class="label label-success">Chegando</span>
                                <h3><a href="{{eventos.ingresso}}">{{eventos.titulo}}</a></h3>
                                <h5>{{eventos.sinopse}}</h5>
                                <h5>{{eventos.mestre}}</h5>
                                <div class="meta-data grid-item-meta alt">
                                    <div>{{eventos.tipo}}</div>
                                    <div>{{eventos.carga}}</div>
                                    <div>{{eventos.valor}}</div>
                                    <div>{{eventos.dsemana}},{{eventos.horario}}</div>
                               	</div>
                                <div class="post-actions">
                                	<a href="{{eventos.ingresso}}" class="btn btn-primary">Reserve Online</a>
                               	</div>
                            </div>
                    	</li>
                        {% endfor %}
                   	</ul>
              	</div>
          	</div>
        </div>
   	</div>
    <!-- End Body Content -->
    <!-- Notive Bar -->
    
    
    <!-- Start site footer -->
    
    <footer id="Contatos" class="site-footer-bottom">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-3 col-sm-3">
                    <div class="footer-contact"><i class="fa fa-phone-square"></i> +55 11 948 997 972</div>
                    <div class="footer-contact"><i class="fa fa-envelope-square"></i> contato@lilo.zone</div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div>
                        <p>Rua João Moura 2152 Vila Madalena São Paulo-SP</p>
                    </div>
                </div>
            	<div class="col-md-3 col-sm-3" style="padding: 0">
                	<ul class="pull-left social-icons-colored" style="padding: 0">
                    	<li class="facebook"><a href="https://www.facebook.com/lilozones"><i class="fa fa-facebook-f"></i></a></li>
                    	<li class="instagram"><a href="https://www.instagram.com/lilo.zone/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End site footer -->
  	<a id="back-to-top"><i class="fa fa-chevron-up"></i></a>  
</div>

<script src="js/jquery-2.1.3.min.js"></script> <!-- Jquery Library Call -->
<script src="vendor/prettyphoto/js/prettyphoto.js"></script> <!-- PrettyPhoto Plugin -->
<script src="js/ui-plugins.js"></script> <!-- UI Plugins -->
<script src="js/helper-plugins.js"></script> <!-- Helper Plugins -->
<script src="vendor/owl-carousel/js/owl.carousel.min.js"></script> <!-- Owl Carousel -->
<script src="js/bootstrap.js"></script> <!-- UI -->
<script src="js/init.js"></script> <!-- All Scripts -->
<script src="js/event-filter.js"></script>
<script src="vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="vendor/revslider/js/jquery.themepunch.tools.min.js"></script>   
<script type="text/javascript" src="vendor/revslider/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('.tp-banner').show().revolution(
		{
			dottedOverlay:"none",
			delay:9000,
			startwidth:1060,
			startheight:500,
			hideThumbs:200,
			
			thumbWidth:100,
			thumbHeight:50,
			thumbAmount:5,
			
			navigationType:"none",
			navigationArrows:"solo",
			navigationStyle:"preview2",
			
			touchenabled:"on",
			onHoverStop:"on",
			
			swipe_velocity: 0.7,
			swipe_min_touches: 1,
			swipe_max_touches: 1,
			drag_block_vertical: false,
									
									
			keyboardNavigation:"on",
			
			navigationHAlign:"center",
			navigationVAlign:"bottom",
			navigationHOffset:0,
			navigationVOffset:20,

			soloArrowLeftHalign:"left",
			soloArrowLeftValign:"center",
			soloArrowLeftHOffset:20,
			soloArrowLeftVOffset:0,

			soloArrowRightHalign:"right",
			soloArrowRightValign:"center",
			soloArrowRightHOffset:20,
			soloArrowRightVOffset:0,
					
			shadow:0,
			fullWidth:"on",
			fullScreen:"off",

			spinner:"spinner0",
			
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,

			shuffle:"off",
			
			autoHeight:"off",						
			forceFullWidth:"off",						
									
									
									
			hideThumbsOnMobile:"off",
			hideNavDelayOnMobile:1500,						
			hideBulletsOnMobile:"off",
			hideArrowsOnMobile:"off",
			hideThumbsUnderResolution:0,
			
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			startWithSlide:0
		});				
	});	//ready
</script>

</body>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top-45
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.history.pushState ("","",hash);
      });
    } // End if
  });
});
</script>
    
</html>
